<html>
<head>
	<title></title>
</head>
<body>
<h1>Editing planet</h1>
 
	<%= form_for :planet, url: planet_path(@planet), method: :patch do |f| %>
	  <% if @planet.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@planet.errors.count, "error") %> prohibited
	      this planet from being saved:</h2>
	    <ul>
	    <% @planet.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	  <% end %>

	  <p>
	    <%= f.label :planet %><br>
	    <%= f.text_field :planet %>
	  </p>
	 
	  <p>
	    <%= f.label :diameter %><br>
	    <%= f.text_field :diameter %>
	  </p>
	  
	  <p>
	    <%= f.label :mythological_god %><br>
	    <%= f.text_field :mythological_god %>
	  </p>
	 
	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>
	 
	<%= link_to 'Back', planets_path %>
</body>
</html>